<section class="section_new">




<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


  <header class="header_login">
  <%= image_tag("back.png", class: 'logo_login') %>
  <h2 class="login_title">LOGIN</h2>
  <div class="actions_new">
    <%= f.submit "Log in",class: 'boton_login' %>
  </div>
  </header>




  <div class="field">
    
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: " Email" %>
  </div>

  <div class="field">
    
    <%= f.password_field :password, autocomplete: "current-password", placeholder: " Password"  %>
  </div>

  

  <p class="notice"><%= notice %></p>
         
  
  
  
  <p class="alert"><%= alert %></p>
  
  <div class="login_links">
  <%= render "users/shared/links" %>
  </div>
<% end %>



</section>