<section class="section_budget_index">


<header class="header_new">


<%= link_to image_tag("back.png", class: "back_budget") ,  groups_path %>
<h1 class="subtitle_new">New Transaction</h1>
<%=  image_tag("search.png", class: "search")  %>
</header>
  




<div class="submount">
 <h2 class="hleft">Total Amount </h2> 
 <h3 class="hrigth"> $ <%= @budgets.sum {|p| p.budget.amount}  %> </h3>
 </div>


 <% @budgets.each do |budget| %>
  <div id="budgets">
  
  
  <%= render "budget",budget: budget %>
    


    </div>
  <% end %>
  <p style="color: green"><%= notice %></p>

<%= link_to  new_group_budget_path do%>
  <div class="add_button">
  <%= image_tag "add.png",  class: 'boton_add'  ,size: "30x30" %>
  </div>
  <% end %>

</section>
