<section>
<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>



<h2>Total Amount </h2><%= @budgets.sum {|p| p.budget.amount}  %>  



<div id="budgets">
<% @budgets.each do |budget| %>
  <%= render "budget",budget: budget %>
    <p>
    <%= budget.budget.amount %>
    </p>
  <% end %>
</div>
<%= link_to image_tag("c.png", class: "logo", style: "width: 100px;") ,  groups_path %>
<%= link_to "New budget", new_group_budget_path %>
</section>