<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= group.icon %>
  </p>

  <p>
    <strong>Createdat:</strong>
    <%= group.createdAt %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= group.author_id %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= group.budget_id %>
  </p>

</div>
