<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
  <strong>Icon:</strong>
  <%= image_tag group.icon, size: "100x100" %>
</p>

  <p>
    <strong>Total Amount:</strong>
    <% @sum = group.budgets.sum {|p| p.amount}  %>
    <%= @sum %>
  </p>
  <%= button_to "Destroy this group", group_path(:id =>  group.id), method: :delete %>
</div>

