<section class="new_reset">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <header class="header_login">
  

  <%= link_to image_tag("back.png", class: "return_home") ,  new_user_session_path %>

  <h2 class="login_title">SEND RESET LINK</h2>
  <div class="actions">
    <%= f.submit "Send",class: 'button_send'  %>
  </div>
  </header>

  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '    Email' %>
  </div>

  
<% end %>


</section>